h1{
    background-color: aqua;
    text-align: center;
    display: inline;

}

ul li a {
    text-decoration: none;
    
}
nav ul li {

    display: inline;
    text-align: justify;
}
img{
 width: 50%;
 height: 50%;
}
footer{
    text-align: center;
    background-color: hsla(50%, 20%, 200, 0.15);
}
.e{
    background-color: rgb(30,50%,80%);
}